* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cee7e8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'content content content'
        'footer footer footer';
    gap: 0px;
    margin: 20px;
    border: 0px solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 7px 15px 0.5px #759ba8;
}
.header {
    grid-area: header;
    background: linear-gradient(to top, #abc8cf, #e3f2f5);
    color: white;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-areas: 'header1 header2 header3 header4 header5';
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
}
#headerpart {
    padding: 10px;
    display: grid;
    place-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#logo {
    width: 65%;
}
.logo {
    display: grid;
    place-items: center;
    background-color: #faf9f4;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0.2px #759ba8;
    height: 100px;
    width: 100px;
}
.botao {
    background-color: #faf9f4;
    color: #4d6772;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0.2px #759ba8;
    border: 0px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.texto1 {
    color: #4d6772;
}
#filter {
    width: 100%;
}
#search {
    width: 100%;
}
.content {
    grid-area: content;
    background-color: #faf9f4;
    color: #4d6772;
    padding: 20px;
    text-align: center;
}
.footer {
    grid-area: footer;
    background-color: #faf9f4;
    color: white;
    padding: 20px;
    text-align: center;
}

/* ======== LIVROS ======== */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.product {
    flex: 1 1 100px; /* Flexbox to handle responsive layout */
    max-width: 100px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
/* ======== FIM LIVROS ======== */